<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.27.2/axios.min.js"></script>
</head>
<body>
    <form action="/textpost"method="post">
        <input type="text"name="username"/>
        <input type="text"name="password"/>
        <input type="submit"value="提交"/>
    </form>
    <button onclick="postreq()">点击</button>
    <script>
        function postreq(){
            axios 
            .post("/testpost",{
                name:"123",
                age:20,
            })
            .then((res)=>{
                console.log(res);
            })
        }
    </script>
</body>
</html>